<IfModule mod_rewrite.c>
  RewriteEngine On

  # Remove trailing slashes
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)/$ /$1 [L,R=301]

  # Serve .html file if it exists
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # Handle 404 errors with Next.js 404 page
  ErrorDocument 404 /404.html
</IfModule>
